# Sensitive info
auth.json
package.json

# Useless images
Voila.png
Voila3D.png
VoilaChristmas.png

#Batch files not required
*.bat
botOLD.js

# git config --global core.excludesfile ~/.gitignore_global
